
body {
  background-image: url("kimmy.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  background-color: powderblue;
  font-weight:bold;
}
