
body {
  background-image: url("kimmy.jpg");
}

h1 {
  text-align: center;
  background-color: powderblue;
  font-weight:bold;
}
p {
  text-align: center;
  background-color: powderblue;
  font-weight:bold;
}
h2 {
  text-align: center;
  background-color: powderblue;
  font-weight:bold;
}
